<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset= "UTF-8">
        <title>login </title>       
    </head>

<body>
    <header>
        <h1 style="text-align:center">Kotoba Trace</h1>
    </header>

    <div style="text-align:center;">
        <h2>メールアドレス変更</h2>
        <form method = "POST">
        {% csrf_token %}

        <p>現在のメールアドレス<br>
            {{ request.user.email }}
        </p>
        
        <p>新しいメールアドレス</p>
        <input type = "email" name = "email">

        <button type = "submit">変更</button>
    </form>
    