<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset= "UTF-8">
        <title>login </title>       
    </head>

<body>
    <header>
        <h1 style="text-align:center">Kotoba Trace</h1>
    </header>
    <br><br>
    <h2 style="text-align:center">ことばを記録するには</h2>
    <h2 style="text-align:center">ログインが必要です</h2>
    <br><br>

    <form method="post">
    {% csrf_token %}

        <!-- エラー確認 -->
    {% if form.non_field_errors %}
    <div style="color: red;">
    {{ form.non_field_errors }}
    </div>
    {% endif %}

    <div style="text-align:center">
    <label for = "id_username">メールアドレス</label><br>
    {{form.username}}
    <br>
    <label for="id_password">パスワード</label><br>
    {{form.password}}
    <br>
    <p>
    <a href="{% url 'accounts:password_reset' %}">パスワードを忘れた方はこちら</a>
    </p>
    


    <button type="submit" class="btn btn-primary">ログイン</button> <br><br>

    <a href="{% url 'accounts:signup' %}">アカウント登録</a>

    </form>
    </div>



    
    </body>
