<!DOCTYPE html>
<html lang= "ja">
<head>
    <meta charset="UTF-8">
</head>

<body>

<div style="text-align:center;">
    <header>
        <h1>Kotoba Trace</h1>
    </header>

    <h2>パスワードを忘れた場合</h2>
    <p>パスワードをリセットします。<br>
    登録しているメールアドレスを入力してください。</p>

    <form method ="post">
    {% csrf_token %}

    <label>メールアドレスを入力</label><br>
    <input type="email" name="email"><br><br>

    <button type="submit">パスワード再設定メール送信
    </button><br><br>

    <a href="{% url 'accounts:login' %}">戻る</a>

    </form>
    </div>
</body>
</html>
