{% extends "base.html" %}
{% block title %}パスワード変更{% endblock %}

{% block content %}


    <div style="text-align:center;">
        <h2>パスワード変更</h2>

        <form method="POST">
        {% csrf_token %}

        <p>
            {{ form.old_password.errors }}
            現在のパスワード <br>
            {{ form.old_password }}
        </p>

        <p>
            {{ form.new_password1.errors }}
            新しいパスワード(10文字以上、英数字を含む) <br>
            {{ form.new_password1 }}
        </p>

        <p>
            {{ form.new_password2.errors }}
            新しいパスワード(確認) <br>
            {{ form.new_password2 }}
        </p>


        <button type="submit">変更</button>
        </form>
    {% endblock %}