<!DOCTYPE html>
<html lang= "ja">
<head>
    <meta charset="UTF-8">
</head>

<body>

    <div style="text-align:center;">

    <header>
        <h1 style="text-align:center">Kotoba Trace</h1>
    </header>

    <h2 style="text-align:center">パスワード再設定</h2>

    {% if error %}
    <p style="color:red">{{ error }}</p>
    {% endif %}

    <form method = "post">
    {% csrf_token %}

    <label 

    <label style="text-align:center">新しいパスワード(10文字以上、英数字を含む)</label><br>
    <input type = "password" name="password">
    <br><br>

    <label style="text-align:center">新しいパスワード(確認)</label><br>
    <input type = "password" name="password_confirm">
    <br><br>

    <button type = "submit">変更</button>
    </form>
    </div>
</body>
</html>


