{% extends "base.html" %}
{% block title %}設定{% endblock %}

{% block content %}

    <p>ユーザー名<br>
    {{ request.user.username }}
    </p>

    <p>メールアドレス <br>
    {{ request.user.email}}
    <a href="{% url 'accounts:email_change' %}">変更</a>
    </p>
<br>
<p>パスワード <br>
●●●●●●●●●●
<a href="{% url 'accounts:password_change' %}">変更</a>
</p>
    <form action="{% url 'accounts:logout' %}" method="post" style="margin-top: 30px;">
        {% csrf_token %}
        <button type="submit" style="background: none; border: 1px solid #ff4d4d; color: #ff4d4d; padding: 5px 10px; border-radius: 4px; cursor: pointer;">
            ログアウト
        </button>
    </form>


{% endblock %}