{% extends "base.html" %}

{% block content %}

<div style="text-align: left; padding: 20px;">
    <h2>キーワードから探す</h2>

    <form method="GET" action="{% url 'search:results' %}">
        <input type="search" 
               name="q" 
               placeholder="キーワードまたは#タグを入力" 
               style="width:100%; padding:10px; font-size:16px;">
        <input type = "submit" style = "display:none;">
    </form>

    {% if random_words %}
    <br>
    <h3>今だれかが記録したことば</h3>
    <br>

        <main>
    {% for word in random_words %}
    <div class="word_card" style="border: 1px solid #ddd; padding: 15px; margin-bottom: 10px; border-radius: 8px; position: relative;">
        
        {# 本文とエリア全体を詳細へのリンクにする #}
        <a href="/words/{{ word.id }}" style="text-decoration: none; color: inherit; display: block;">
            <p>{{ word.content }}</p>
        </a>

        {# タグ部分リンクにする #}
        <p style="font-size:12px; color:#666; margin-top: 10px;">
            タグ<br>
            {% for tag in word.tags.all %}
                <a href="{% url 'search:results' %}?q=%23{{ tag.name|cut:'#' }}" 
                   style="text-decoration: none; 
                   color: #000; 
                   display: inline-block; 
                   margin-top: 5px;"
                   onmouseover = "this.style.color="#55d383"; this.style.textDecoration = "underline";"
                   onmouseout = "this.style.color = "#ooo"; this.style.textDecoration = "none";">
                    #{{ tag.name|cut:"#" }}

                </a>
            {% endfor %}
        </p>
    </div>
    {% endfor %}
</main>
    {% endif %}
</div>

{% include "nav.html" %}
{% endblock %}