<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset= "UTF-8">
        <title>ことば詳細 </title>  
             
    </head>

    <body>
        
        <header>
            <h2>Kotoba Trace</h2>
        </header>

     <main>
        <div class = "actions">
            <a href = "{% url 'words:word_list' %}" class = "button_back">戻る</a>
            <a href = "{% url 'words:word_edit' word.id %}" class = "button_edit">編集</a>
        </div>
            <br>
        <div class = " word_card">
            <h2>ことば</h2>
            <p>{{word.content}} </p>

             <p>{% if word.is_public%}
                ☑公開
                {% else %}
                ☐公開
                {% endif%}
            <br>
            <h3>出典</h3>
            <p>{{word.source_type}}</p>
            <br>
            <h3>タイトル</h3>
            <p>{{word.source_title}}</p>
            <br>
            <h3>著者・アーティスト</h3>
            <p>{{word.source_creator}}</p>
            <h3>メモ</h3>
            <p>{{word.memo}}</p>
            <br>
            <br>
            <h3>タグ</h3>
            <p>
            {% for tag in word.tags.all %}
                <span>{{ tag }}</span>
            {% empty %}
                <span>タグなし</span>
            {% endfor %}
            </p>


            <br>
            <br>

           
        </div>

            <br><br><br>
        
     </main>
    </body>
</html>
