{% extends "base.html" %}
     <main>
        {% block title %}ことばを編集する{% endblock %}

        {% block content %}
        <form method= "POST">
            {% csrf_token %}

            {% if form.errors %}
                <div style="background: #fee; color: red; padding: 10px; margin-bottom: 10px;">
                    <strong>エラーが発生しています：</strong>
                    {{ form.errors }}
                </div>
            {% endif %}

            <label for= "content">ことばを編集する</label>
            <br>
            <textarea name= "content" id = "content"
                            style="width: 100%; box-sizing: border-box; padding: 10px; font-size: 16px; min-height:100px">
                            {{ form.content.value}}
            </textarea>
            <br>

            <label for= "source_type">出典(本・音楽・日常 など)</label>
            <br>
            <input type= "text" id= "source_type" name= "source_type"
                   value= "{{ form.source_type.value}}"
                   style= "width:100% ; padding:10px ; font-size:16px ;">
                     
            <br>

            <label for= "source_title">作品名、曲名</label>
            <br>
            <input type="text" id= "source_title" name= "source_title" 
                   value="{{ form.source_title.value}}"
                   style= "width:100% ; padding:10px ; font-size:16px ;">
            <br>

            <label for= "source_creator">著者、アーティスト</label>
            <br>
            <input type="text" id= "source_creator" name= "source_creator" 
                   value="{{ form.source_creator.value}}"
                   style= "width:100% ; padding:10px ; font-size:16px ;">
            <br>

            <label for= "memo">メモ（公開設定にしても公開されません）</label>
            <br>
            <textarea name= "memo"  
                      style="width: 100%; box-sizing: border-box; padding: 10px; font-size: 16px;">{{ form.memo.value}}
            </textarea>
            <br>

            <label for= "tags">タグ</label>
            <br>
             <input type="text" 
                    name= "tags" 
                    value="{{tags_str}}"
                    placeholder="#夜 #迷ったとき"
                    style="width:100%; padding:10px; font-size:16px;">
             <br>
             <br>
             
            <input type="checkbox" id= "is_public" name= "is_public" checked>
            <label for= "is_public"> 公開する</label>
            <br>

            <p>※チェックを外すと非公開となります。</p>

            <br><br><br>
            {% if message %}
                <p style ="color : green;">{{message}}</p>
            {% endif %}

            
            <button type="submit">保存</button>
            
        </form>
     </main>
    {% endblock %}
