{% load static %}
<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset= "UTF-8">
        <title>ことば一覧 </title>  
        <link rel = "stylesheet" href = "{% static 'words/list.css' %}">
    </head>
    <body>
         <header>
            <h2>Kotoba Trace</h2>
         </header>
         <p>現在の登録件数: {{ words.count }}</p>

        <main>
            {% for word in words %}
                <div class = "word_card">
                    <p>{{ word.content}}</p>
                        <br>
                        <label>
                        {{word.source_type}}
                        <input type="checkbox" {% if word.is_public %}checked="checked"{% endif %}>
                        公開する
                    </label>
                </div>
            {%endfor%}
        </main>
    </body>
</html>
